<div class="boards-container">
  <h2>Boards</h2>

  <button class="create-btn" (click)="createNewBoard()">
    Create New Board
  </button>

  <ul class="boards-list">
    @for (board of boards$ | async; track board.id) {
      <li class="board-item">
        <a [routerLink]="'/admin/analytics/' + board.id">
          <span class="board-name">{{ board.name }}</span>
        </a>
        <div class="board-actions">
          <button class="edit-btn" (click)="createNewBoard(board)">Edit</button>
          <button class="delete-btn" (click)="deleteBoard(board.id)">
            Delete
          </button>
        </div>
      </li>
    }
  </ul>
</div>
